---
layout: none
---

<div id="site">
  <div id="site-body">
    <div class="page">
      <div class="page-body">
        <main>

          <h1>bise.prototype</h1>
          
          <p>This is a static prototype of the new BISE layout.</p>
          <p>Use this page to navigate between the different layouts.</p>
          <p>You can return here by clicking on the logo.</p>

          <h5>Pages</h5>
          <ol>
            {% for page in site.pages %}
              {% if page.page %}
                <li>
                  <a href="{{ page.url }}">{{ page.page }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ol>
          
        </main>
      </div>
    </div>
  </div>
</div>
