@navbar-gutter: 2rem;
html, body {
  min-width: 100%!important;
}

.navbar-search {
  float: right;
}

  //  .open {
  //     display:inline;
  //   }
    .close {
      display:none;
    }  

input.navbar-search-input::placeholder {
    color: rgba(255,255,255,1);
}

#navbar {
  background-color: @color-green;
  background-image: linear-gradient(to right, #12724B, #0D9B5E 66%, #41B764);
  // box-shadow: 0 0 5px -1px fade(#000, 75%);
  position: relative;
  z-index: @z-navbar + 1;
  // padding-bottom: 20px;
}

.navbar-fixed {
  .utils > .inner(top, @position: fixed);
  z-index: @z-navbar!important;
  position: fixed!important;
  padding: .5rem 0;
  box-shadow: 0 1px 4px fade(#000, 25%);
  .navbar-descriptor {
    display: none;
  }
  .navbar-header {
    display: block;
    width: auto;
    margin-right: @rem-h-xxlarge;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-logo {
    display: block;
    height: 3rem;
    margin: -1rem 0;
    margin-right: 1rem;
  }
  .navbar-search {
    float: right;
  }
  .navitem-description {
    display: none!important;
  }
  .navmenus {
    float: left;
    margin-top: 1rem;
    border-top: 0;
    padding-top: 0;
  }
  .navmenu, .navitem {
    // width: auto!important;
  }
}

.navbar-header {
  color: #fff;
  a {
    color: @color-accent;
  }
}

.navbar-brand {
  white-space: nowrap;
}

.navbar-logo, .navbar-title {
  display: inline-block;
  vertical-align: middle;
}

.navbar-title {
  display: none;
  font-family: @font-family-condensed;
  font-weight: 700;
}

.navbar-descriptor-copy {
  font-size: @smaller;
  max-width: 50em;
  color: fade(#fff, 75%);
}

.navitem-description {
  display: none;
}
.navbar-search{
margin-right:45px;
}
.navbar-search-form {
  white-space: nowrap;
  margin: 0;
  display: table;
  border-collapse: separate;
  .navbar-search-input, .navbar-search-submit {
    display: table-cell;
    vertical-align: middle;
    padding: @em;
    border: 1px solid transparent;
    font: inherit;
    color: #fff;
    background-color: fade(#fff, 25%);
    transition: background .1s, color .1s;
  }
  .navbar-search-input {
    position: relative;
    border-radius: @radius 0 0 @radius;
        width: 100%;
    &::placeholder {
      font-style: italic;
      color: fade(#fff, 50%);
    }
  }
  .navbar-search-submit {
    border-top-right-radius: @radius;
    border-bottom-right-radius: @radius;
    font-family: @font-family-condensed;
    &:hover, &:focus {
      background-color: @color-yellow;
      color: @color-emphasis;
    }
  }
}

.navmenu, .submenu-body {
  .utils > .no-list;
}

.navitem-title, .submenu-title {
  a {
    color: inherit;
  }
}

.navmenu {
  margin-bottom: 0;
}

.navmenu-title {
  font-size: @font-size-h4;
  margin: 0;
  a {
    display: block;
    padding: 1rem 0; // (@navbar-gutter / 2);
    // border-top: solid @color-green;
    transition: background .1s, border-color .1s;
    &:hover, &:focus {
      // border-top-color: @color-orange;
      // background-color: @color-yellow;
      // color: #222;
    }
  }
}

.navmenu-description {
  display: none;
  // padding: (@navbar-gutter / 2);
  // margin-bottom: 0;
  font-family: @font-family-condensed;
  // font-size: @smaller;
}

.navmenu-group-title {
  margin-bottom: 0;
  font-size: @smaller;
  font-weight: bolder;
  text-transform: uppercase;
  a {
    color: @color-orange;
  }
}

.navmenu-submenu {
  // display: none;
  a {
    display: inline-block;
    padding: .25rem 0;
  }
}

.navbar-md() {
  .navbar-header {
    display: table;
    table-layout: auto;
    width: 100%;
  }
  .navbar-search {
    float: right;
  }
  .navbar-brand, .navbar-descriptor, .navbar-search {
    display: table-cell;
    vertical-align: middle;
    padding: (@navbar-gutter / 2) 0;
  }
  .navbar-logo {
    position: relative;
    top: -1rem;
    margin-bottom: -2rem;
  }
  .navbar-descriptor {
    width: 100%;
    padding-left: @navbar-gutter;
    padding-right: @navbar-gutter;
  }
  .navbar-descriptor-copy, .navbar-descriptor-cta {
    display: inline;
  }
  .navbar-descriptor-cta {
    strong {
      font-weight: normal;
    }
  }
  .navmenus {
    padding-top: @navbar-gutter / 2;
    border-top: 1px solid fade(#000, 10%);
  }
  #navmenu-primary {
    .utils > .clear;
    margin-left: -@navbar-gutter / 2;
    margin-right: -@navbar-gutter / 2;
    .navitem {
      float: left;
      position: relative;
      width: percentage(1 / 6);
      box-sizing: border-box;
      padding-left: @navbar-gutter / 2;
      padding-right: @navbar-gutter / 2;
    }
    .navitem-title {
      color: #fff;
    }
    .navitem-description {
      color: fade(#fff, 75%);
      font-size: @smaller;
      font-family: @font-family-condensed;
    }
    .navitem:hover {
      .navitem-submenu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  #navitem-topics, #navitem-networks {
    .navitem-submenu {
      // display: block;
      width: 36rem;
    }
  }
  #navitem-networks {
    .navitem-submenu {
      left: auto;
      right: 0;
    }
  }
  .navitem-submenu {
    .utils > .clear;
    padding: @rem-x-xlarge;
    background-color: #fff;
    border: solid fade(#000, 25%);
    background-clip: padding-box;
    // box-shadow: 0 0 0 5px fade(#000, 25%);
    position: absolute!important;
    top: 2rem;
    left: 0;
    z-index: -1;
    visibility: hidden;
    z-index: @z-dropdowns;
    opacity: 0;
    transition: opacity .1s;
  }
  .submenu-group {
    width: 18rem;
    // float: left;
    margin-bottom: @leading-large;
  }
  .submenu-title {
    font-size: @smaller;
    font-family: @font-family;
    color: @color-orange;
    text-transform: uppercase;
    letter-spacing: .05em;
  }
  .submenu-body {
    > li {
      margin-bottom: @leading-small;
    }
    a {
      display: inline-block;
      color: @color-muted;
      &:hover, &:focus {
        color: @color-anchor-hover;
      }
    }
  }
}

.navbar-lg() {
  .navbar-descriptor-inner {
    display: table;
    // width: 100%;
    table-layout: auto;
  }
  .navbar-search {}
  .navbar-descriptor-copy {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
  }
  .navbar-descriptor-cta {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: (@navbar-gutter / 2);
    > a {
      .btn;
      .btn-raised;
      .btn-yellow;
      font-weight: 400;
      strong {
        font-weight: 700;
      }
    }
  }
}

@media @screen-md-upto {
  .navbar-descriptor-copy, .navbar-descriptor-cta {
    display: inline;
  }
}

@media @screen-md {
  .navbar-md;
}

@media @screen-lg {
  .navbar-lg;
}

@media screen and (max-width: @breakpoint-sm) {
  

  
  .navbar-header {
    display: none;
  }

  .submenu-item a.name{
    font-size:24px;
  }

  .dr-item .title,
  .dr-list-item {
        font-weight: lighter!important;
  }
  

.navmenu-login-and-search{
width: 100%;
display:table;

.actionMenu{
  display:table-cell;
  // float:left;
  vertical-align: middle;
}

.actionMenuContent{
  display:none;
  padding:10px 10px 10px 10px;
  
  -webkit-margin-start:0px;
}

.actionMenuContent.open{
display:inline;
}

.navbar-search{
width:100%;
    display: table-cell;
    vertical-align: middle;
    clear: both;
    position:relative;
    // padding-bottom:0;


form{float:right;}
// input{
//   width:150px;
//   // width:150px;
//       position: absolute;
   
//     top: 0;
//     right: 0;
// }

// button{
//       position: absolute;
//     right: 0;
//     top: 0;
//     z-index:200;
// }

}


}


#submenu-item-about{
  display:none;

    .submenu-dr-wrapper
{
border-bottom: 0px solid white;

}

}

.submenu-contact .submenu-item{

border-top: 0px solid white;



}
  
  .nav-container {
    font-weight: lighter;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: seagreen;
    // border-radius: 10px;
    // border: 0.5px solid lightgray;
    li, {
      // border: 1px solid black;
      display: block;
      color: #eee;
    }
    .navmenu-head {
      overflow: hidden;
      padding: 10px 10px 10px 10px;
      border-bottom: 0.5px solid lightgray;
      // clear:both;
      color: white;
      font-size: 24px;
    }
    .navmenu-head-button, i {
      float: right;
    }
    .submenu-button {
      float: right;
    }
    .submenu-item {
      // width:100%;
      margin-left: auto;
      margin-right: auto;
    }
    .submenu {
      width: 100%;
      overflow: hidden;
    }
    i {
      padding-left: 5px;
    }

    .submenu .submenu-item i{
          border-left: 1px solid white;
    padding-left: 10px;


    }

    .navmenu-login-and-search{


.actionMenu{           box-sizing: border-box;
    // float: left;
    // width: 50%;
    padding: 0px 0px 0px 0px;
    /* clear: right; */
    /* display: inline-block; */
    margin-top: 0px;
    margin-bottom: 0px;

.close;
  
    }
    .navbar-search{
          box-sizing: border-box;
    float: right;
    width: 50%;
    }
    
    
    
    
    }
    .submenu-item {
      // float: left;
      padding-top:10px;
      padding-bottom:10px;
      padding-left:20px;
      padding-right:20px;
      color: white;
    }
    .submenu-item {
      .submenu-button {
        // border-left: 0.5px solid lightgray;
      }
      a {
        color: white;
      }
    }
    h6.title {
      color: #f4ce62;
    }
    .submenu-dr-wrapper {
      overflow-x: scroll;
      width: 100%;
      //  overflow-y:none;
      border-top: 1px solid white;
      // border-top: 1px solid white;
      border-bottom: 1px solid white;
      background-color: #074f51
    }
  
    
    
     .submenu-contact .submenu-item {
      width: 50%;
    margin: 0 auto; 
    text-align: center;


    }

    .submenu-dr {
      display: inline-table;
      table-layout: fixed;
      // overflow: scroll;
      padding: 10px 10px 0px 10px;
      .dr-item {
        display: table-cell;
        // width: 80px;
        white-space: nowrap;
      }
      .dr-list {
        padding-right: 10px;
      }
    }
    .navmenu-body {
      display: none;
    }
    .navmenu-body.open {
      display: block;
    }
    .submenu-dr-wrapper {
      display: none;
    }
    .submenu-dr-wrapper.open {
      display: block;
    }

 

    // #submenu-dropdown2 {
    //   display: none;
    // }
    // #submenu-dropdown2.open {
    //   display: block;
    // }
    .nav-menu ul {
      // float: left;
      // display:block;
    }
 #navmenu-close{
   float:right;
 }


#submenu-dropdown7{
  border-top:0px;
  text-align: center!important;
  overflow:hidden;
 background-color:seagreen;



.dr-item
{
white-space: normal;
width:auto;

}





.submenu-dr {
      // width: 50%;
    margin: 0 auto;
    text-align: center;
}

 
li {
   padding-bottom:20px;

 }

 button{
    .btn;
   background-color: #fedf90;
  
   border:0px;
   padding:10px 30px 10px 30px;

 }
 
}

 


 

 
  }
}

@media screen and (min-width: @breakpoint-sm) {
  .nav-container {
    width: 100%;
    height: 100%;
    padding: 30px 10px 10px 0px;
    li, {
      display: inline-block;
    }
    .navmenu-head {
      display: none;
    }
    .submenu {
      position: relative;
    }
    .submenu-button {
      float: right;
    }
    .submenu-item {
      // width:100%;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 10px 10px 0px;
      color: white;
      a {
        color: white;
      }
      i {
        display: none;
      }
      font-size: 24px;
    }
    .submenu {
      width: 100%;
      // overflow: hidden;
    }
    i {
      padding-left: 5px;
    }
    h6.title {
      color: green;
    }
    .submenu-dr-wrapper {
      display: none;
      position: absolute;
      // overflow-x: scroll;
      // right:100px;top:-30px;
      // width: 50%;
      //  overflow-y:none;
      border: 1px solid lightgray;
      // border-top: 1px solid white;
      // border-bottom: 1px solid white;
      color: @color-green;
      min-width: 100%;
      top: 100%;
      z-index: 1;
      left: 0;
      //  z-index: 999;
    }
.submenu-dr-wrapper#submenu-dropdown5,
.submenu-dr-wrapper#submenu-dropdown6
{
left:auto;
right:0;
  
}




    .submenu-item-wrapper:hover .submenu-dr-wrapper {
      display: inline;
    }
    .submenu-close {
      display: none;
    }
    .submenu-dr {
      background-color: #fff;
      display: inline-table;
      table-layout: fixed;
      // white-space: nowrap;
      padding: 10px 10px 0px 10px;
      //aici
      .dr-item {
        display: table-cell;
        width: 100%;
        white-space: nowrap;
        padding-left: 10px;
      }
      //aici
      .dr-list {
        padding-right: 10px;
        white-space: normal;
      }
    }
    .nav-menu > ul {
      text-align: center;
      white-space: nowrap;
      width: 100%;
      display: table;
    }
    .submenu-item-wrapper {
      display: table-cell;
      margin: 0;
      padding: 0;
      // width: 15%;
      // float: left;
    }
    // #submenu-dropdown {
    //   display: none;
    // }
    // #submenu-dropdown.open {
    //   display: block;
    // }
    // #submenu-dropdown2 {
    //   display: none;
    // }
    // #submenu-dropdown2.open {
    //   display: block;
    // }
    // .nav-menu ul {
    // }
  }
}