<ul class="navTree navTreeLevel0">
  <li class="navTreeItem visualNoMarker navTreeFolderish section-climate-change">
    <a href="http://biodiversity.europa.eu/topics/climate-change" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Climate change</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-ecosystem-services">
    <a href="http://biodiversity.europa.eu/topics/ecosystem-services" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Ecosystem services</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-ecosystems-and-habitats">
    <a href="http://biodiversity.europa.eu/topics/ecosystems-and-habitats" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Ecosystems and habitats </span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-fragmentation">
    <a href="http://biodiversity.europa.eu/topics/fragmentation" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Fragmentation</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-genetic-resources">
    <a href="http://biodiversity.europa.eu/topics/genetic-resources" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Genetic resources</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-green-infrastructure">
    <a href="http://biodiversity.europa.eu/topics/green-infrastructure" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Green infrastructure </span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-invasive-species">
    <a href="http://biodiversity.europa.eu/topics/invasive-species" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Invasive species</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-land-use-change">
    <a href="http://biodiversity.europa.eu/topics/land-use-change" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Land use change </span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-life-nature-and-biodiversity-projects">
    <a href="http://biodiversity.europa.eu/topics/life-nature-and-biodiversity-projects" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>LIFE+ Nature and Biodiversity Projects</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-overexploitation">
    <a href="http://biodiversity.europa.eu/topics/overexploitation" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Overexploitation</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-pollution">
    <a href="http://biodiversity.europa.eu/topics/pollution" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Pollution</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-protected-areas">
    <a href="http://biodiversity.europa.eu/topics/protected-areas" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Protected areas</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-sebi-indicators">
    <a href="http://biodiversity.europa.eu/topics/sebi-indicators" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>SEBI - Streamlining European Biodiversity Indicators</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-species">
    <a href="http://biodiversity.europa.eu/topics/species" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Species</span>
    </a>
  </li>
  <li class="navTreeItem visualNoMarker navTreeFolderish section-tipping-points">
    <a href="http://biodiversity.europa.eu/topics/tipping-points" class="state-published navTreeFolderish contenttype-folderishpage" title="">
      <span>Tipping points</span>
    </a>
  </li>
</ul>