<nav id="navbar">
  <div class="container">
    <div class="navbar-header">
      <a href="{{ site.baseurl }}/" class="navbar-brand">
        <span class="navbar-logo">
          <!-- <picture>
            <source srcset="{{ site.static }}/img/bise-logo-symbol.png"
                    media="(max-width: 480px)">
            <img src="{{ site.static }}/img/bise-logo-lockup-horizontal-large.png" alt="BISE Logo">
          </picture> -->
          <img src="http://biodiversity.europa.eu/BiseLogo.png" 
               class="logo-big"
               alt="BISE Logo"
               >

          <!-- <img src="{{ site.static }}/img/bise.png" alt="Logo" width="60" height="60"> -->
        </span>
        <span class="navbar-title">
          Biodiversity Information<br> System for Europe
        </span>
      </a>
      <div class="navbar-descriptor">
        <div class="navbar-descriptor-inner">
          <p class="navbar-descriptor-copy">{{ site.description }}</p>
          <div class="navbar-descriptor-cta">
            <a href="#">Learn More <strong>About BISE</strong></a>
          </div>
        </div>
      </div>
      <div class="navbar-search">
        <form action="" class="navbar-search-form">
          <input type="search" class="navbar-search-input" placeholder="Search BISE">
          <button type="submit" class="navbar-search-submit">Search</button>
        </form>
      </div>
      <!-- <div class="navbar-user"></div> -->
    </div>




    <div class="nav-container">
      <div class="navmenu-head">
        <span class="navmenu-head-logo">BISE</span> <span class="navmenu-head-button" data-toggle="navmenu" data-target="#navmenu-dropdown" >Menu <i class="fa-angle-double-down" ></i></span>
      </div>
      <div id="navmenu-dropdown" class="navmenu-body" >
        <nav class="nav-menu">
          <ul>
            <li class="submenu-item-wrapper">
              <div class="submenu">
                <div class="submenu-item">
                  <a class="name">Topics</a>
              
               <i class="fa-angle-double-down" class="submenu-button" data-toggle="navmenu" data-target="#submenu-dropdown" ></i>
  </div>
                <div id="submenu-dropdown" class="submenu-dr-wrapper">
                  <div class="submenu-dr">

                    <div class="dr-item">
                      <h6 class="title">
                        submenu-dr-title
                      </h6>
                      <ul class="dr-list">
                        <li class="dr-list-item">submenu-dropdop-item</li>
                        <li class="dr-list-item">submenu-dropdop-item</li>
                        <li class="dr-list-item">submenu-dropdop-item</li>
                      </ul>
                    </div>


                    <div class="dr-item">
                      <h6 class="title">
                        submenu-dr-title
                      </h6>
                      <ul class="dr-list">
                        <li class="dr-list-item">submenu-dropdop-item</li>
                      </ul>
                    </div>
                    <div class="dr-item">
                      <h6 class="title">
                        submenu-dr-title
                      </h6>
                      <ul class="dr-list">
                        <li class="dr-list-item">submenu-dropdop-item</li>
                      </ul>
                    </div>



                  </div>
                </div>
              </div>
            </li>


            <li class="submenu-item-wrapper">
              <div class="submenu">
                <div class="submenu-item">
                  <a class="name">Topics2</a>
              
                <i class="fa-angle-double-down" class="submenu-button" data-toggle="navmenu" data-target="#submenu-dropdown2" ></i>
  </div>
                <div id="submenu-dropdown2" class="submenu-dr-wrapper">
                  <div class="submenu-dr">

                    <div class="dr-item">
                      <h6 class="title">
                        submenu-dr-title
                      </h6>
                      <ul class="dr-list">
                        <li class="dr-list-item">submenu-dropdop-item</li>
                        <li class="dr-list-item">submenu-dropdop-item</li>
                        <li class="dr-list-item">submenu-dropdop-item</li>
                      </ul>
                    </div>


                    <div class="dr-item">
                      <h6 class="title">
                        submenu-dr-title
                      </h6>
                      <ul class="dr-list">
                        <li class="dr-list-item">submenu-dropdop-item</li>
                      </ul>
                    </div>
                    <div class="dr-item">
                      <h6 class="title">
                        submenu-dr-title
                      </h6>
                      <ul class="dr-list">
                        <li class="dr-list-item">submenu-dropdop-item</li>
                      </ul>
                    </div>



                  </div>
                </div>
              </div>
            </li>



<li class="submenu-item-wrapper">
<div class="submenu-close">
              <div class="submenu">
                <div class="submenu-item">
                  <a class="name">Close menu</a>
              
                <i class="fa-close" class="submenu-button" data-toggle="navmenu" data-target="#submenu-dropdown2" ></i>
  </div>

              </div>
</div>
            </li>
       

        </ul>
         </nav>



      </div>



    </div>

    <!--.navmenu .navmenu-items .navmenu-item .navitem-title .navitem-description .navitem-toggle-submenu .navitem-submenu .submenu
    .submenu-name .submenu-items .submenu-item

-->


















  </div>

</nav>