<script>
  (function() {
    var bise = {};

    bise.dom = {
      'siteHeader': document.getElementById('site-header'),
      'siteBody': document.getElementById('site-body'),
      'navItems': document.getElementsByClassName('navmenu-body')
    };
    bise.fn = {};

    bise.utils = {
      NodelistToArray: function(nodelist) {
        return [];
      }
    }

    window.bise = bise;
  }())
</script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="{{ site.static }}/js/main.js"></script>