<script>
  (function() {
    var bise = {};

    bise.dom = {
      'siteHeader': document.getElementById('site-header'),
      'siteBody': document.getElementById('site-body'),
      'navItems': document.getElementsByClassName('navmenu-body')
    };
    bise.fn = {};

    bise.utils = {
      NodelistToArray: function(nodelist) {
        return [];
      }
    }

    window.bise = bise;
  }())
</script>
<script src="{{ site.static }}/js/jquery.min.js"></script>
<script src="{{ site.static }}/js/main.js"></script>
